# front facing webserver
http://127.0.0.1:2017 {
    tls off
    root ./www_root/
    # gzip
    browse
    ext    .html
    log    ./cdy_test_2017_access.log
    errors ./cdy_test_2017_errors.log
    # errors visible

    esi {
        cmd_header_name X-Esi-Cmd
        log_file ./cdy_test_2017_debug.log
        log_level debug
    }
}

# micro service (ms) end point
http://127.0.0.1:3017 {
    tls off
    root ./www_root/
    log    ./cdy_test_3017_access.log
    errors ./cdy_test_3017_errors.log
}
